<div class="flash-sign-in">
  <%= flash[:notice] %>
</div>
<% unless user_signed_in? %>
<div class="sign_modal_wrapper"></div>
<div class="sign_modal">
  <span class="fa_wrapper"><i class="fas fa-times"></i></span>
  <div class="sign_up_modal sign_modal_content">
    <h2>新規登録フォーム</h2>
    <form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="Jane5jDBs2PzAjBcv5+yQz8FE/aMc7eb1gFUlYtqTQ5pODufz5TVSqN09+gJxLgHhA0E2YCjAlMNcYj2MH6huQ==">
      <div class="field">
        <label for="user_name">名前またはニックネーム</label><br>
        <input autofocus="autofocus" type="text" name="user[name]" id="user_name">
      </div>

      <div class="field">
        <label for="user_email">メールアドレス</label><br>
        <input autocomplete="email" type="email" value="" name="user[email]" id="user_email">
      </div>

      <div class="field">
        <label for="user_password">パスワード</label>
        <em>6文字以上</em>
        <br>
        <input autocomplete="new-password" type="password" name="user[password]" id="user_password">
      </div>

      <div class="field">
        <label for="user_password_confirmation">確認の為、再度入力お願いします</label><br>
        <input autocomplete="new-password" type="password" name="user[password_confirmation]" id="user_password_confirmation">
      </div>

      <div class="actions">
        <input type="submit" name="commit" value="Sign up" data-disable-with="Sign up">
      </div>
    </form>


  </div>
  <div class="sign_in_modal sign_modal_content">
    <h2>ログインフォーム</h2>
    <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="QT847U+VNboJPVyl8Y6LR+jB/fSY835SUdffsO4ckogjg1Ec7ZvKlX9r9Tvp/PIpqme/DEZFtrgWZSU9ZGv1eA==">
      <div class="field">
        <label for="user_email">メールアドレス</label><br>
        <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email">
      </div>

      <div class="field">
        <label for="user_password">パスワード</label><br>
        <input autocomplete="current-password" type="password" name="user[password]" id="user_password">
      </div>

        <div class="field">
          <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
          <label for="user_remember_me">Remember me</label>
        </div>

      <div class="actions">
        <input type="submit" name="commit" value="Log in" data-disable-with="Log in">
      </div>
    </form>
  </div>
</div>
<% end %>

<div class="image-top">
  <p class="p-top slid-font">仲間を作って</p><br>
  <p class="p-bottom slid-font">やりたいことを見つけよう</p>
  <% unless user_signed_in? %>
  <div class="button-area">
    <div class="sign_button sign_up_button">
      <button class="button">
        新規登録
        <div class="button__horizontal"></div>
        <div class="button__vertical"></div>
      </button>
    </div>
    <div class="sign_button sign_in_button">
      <button class="button">
        ログイン
        <div class="button__horizontal"></div>
        <div class="button__vertical"></div>
      </button>
    </div>
    <p class="sign-in-font">[ログインして投稿したり、みんなをフォローしてみよう]</p>
    <p class="guest"><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "text-dark" %></p>
  </div>
  <% end %>
</div>
