<% ranks.each.with_index(1) do |post, i| %>
  <% if i <= 3 %>
    <div class="rank-list mb-2">
      <strong>第<%= i %>位</strong>
      <%= link_to post.title.truncate(13), post_path(post.id) %>
      ❤️<%= post.likes.size %></br>
    </div>
  <% end %>
<% end %>