<div>
  <div class="container">
    <h1>投稿一覧ページ</h1>
    <div class="row">
    <% if user_signed_in? %>
      <%= render 'form', post: @post %>
    <% end %>
    </div>
    <h2>投稿一覧</h2>
    <%= render 'index', posts: @posts %>
  </div>
</div>