<div>

  <div class="container">
    <h3>タグリスト</h3>
    <% @tag_lists.each do |tag_list| %>
      <%= link_to tag_list.tag_name, tag_posts_path(tag_list.id)%>
      <%= tag_list.posts.count %>
    <% end %>
    <h1>投稿一覧ページ</h1>
    <div class="row">
    <% if user_signed_in? %>
      <%= render 'form', post: @post %>
    <% end %>
    </div>
    <h2>投稿一覧</h2>
    <%= render 'index', posts: @posts %>
  </div>


</div>