<div>
  <div class="container">
    <% if @user == current_user %>
     <h1>マイページ</h1>
     <%= render 'profile', user: @user %>
     <%= link_to "プロフィールを変更", edit_user_path(@user) %>
    <% else %>
     <h1><%= @user.name %>さんのページ</h1>
      <%= render 'profile', user: @user %>
    <% end %>
    </div>
  </div>
</div>