<div>
  <div class="container">
    <h2>みんながいいねした投稿を見てみよう！</h2>
    <div class="row">
      <%= render 'users/posts/random', random: @follow_like_post%>
    </div>
    <h1>タイムライン</h1>
    <%= render 'timeline', timelines: @timelines %>
  </div>
</div>