// Place all the styles related to the admin/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin-post-name{
  width: 10%;

}

.admin-post-type {
  width: 10%;
}

.admin-post-title {
  width: 20%;
}

.admin-post-body {
  width: 40%;
}

.admin-post-comment {
  width: 10%;
}

.admin-post-created {
  width: 10%;
}