<% if user_signed_in? && current_user.reposted?(post.id) %>
  <span class="repost-ok">リポスト済み</span>
  <%= link_to post_repost_path(post.id, post.reposts.ids), method: :delete, remote: true do %>
    <i class="fas fa-retweet retweet-green" style = "color: green"></i>
  <% end %>
<% else %>
  <%= link_to post_reposts_path(post.id), method: :post, remote: true do %>
    <i class="fas fa-retweet"></i>
  <% end %>
<% end %>
<%= post.reposts.count %>