/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-shadow: 3px 3px 3px #808080;
}

h2 {
  text-shadow: 3px 3px 3px #808080;
}

h3 {
  text-shadow: 3px 3px 3px #808080;
}

h4 {
  text-shadow: 3px 3px 3px #808080;
}

header {
  width: 100%;
  height: 140px;
  padding: 0 15px 0 0;
  // background: linear-gradient(-135deg, #BAD3FF, #0099FF);
  background-color: white;
}

body {
  font-family: "M PLUS Rounded 1c";
  background-image: image-url('olga-thelavart-vS3idIiYxX0-unsplash.jpg');
}

.container-box {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header > li{
  display: inline-block;
  margin-right: 20px;
}

.search-form {
  text-align: right;
  padding: 1% 2% 0 0;
}

.notification-count {
  position: absolute;
  color: #FF4F02;
  padding-left: 4px;
  font-size: 14px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

button {
  border-radius: 6px;
  margin-right: 10px;
}

.field_with_errors {
  display: contents;
}

footer {
  width: 100%;
  height: 60px;
  background-color: gray;
  margin-top: auto;
  color: white;
  text-align: center;
  padding-top: 1%;
}

.header-message {
  position: absolute;
  color: #FF4F02;
  padding-left: 4px;
  font-size: 14px;
}

.header-button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 14px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 9px;   /* 余白       */
  background    : #FFDAB9;     /* 背景色     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 3px 3px 3px #666666;  /* 影の設定 */
  border        : 2px solid #FFDAB9;    /* 枠の指定 */
  width: 12%;
  margin: 4% 10px 0 0;
}

.header-button:hover {
  box-shadow    : none;
  background    : #ffffff;
}

.image1 {

  background-image: image-url('slide/robert-bye-B7LQIv_ccl4-unsplash.jpg');
}
.image2 {
  background-image: image-url('slide/people-2567915_1920.jpg');
}
.image3 {
  background-image: image-url('slide/andriyko-podilnyk-Z9m8qLIXqIU-unsplash.jpg');
}
.image4 {
  background-image: image-url('slide/chang-duong-ZshVGzJ6a_s-unsplash.jpg');
}
.image5 {
  background-image: image-url('slide/pin-adventure-map-cXuYXpondrc-unsplash.jpg');
}
.image6 {
  background-image: image-url('slide/christopher-beloch-P2fBIamIbQk-unsplash.jpg');
}

.image_box {
  height: 370px;
  width: 80%;
  margin: 50px auto;
}

.header-area {
  text-align: right;
  display: inline-block;
  width: 80%;
}

.header-box {
  width: 100%;
}

.logo {
  width: 20%;
}

.flash-sign-in {
  width: 100%;
  background-color: yellow;
  color: red;
  text-align: center;
}

.sign-in-posts {
  width: 100%;
  text-align: center;
  background-color: orange;
}