// Place all the styles related to the users/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-top {
  background: radial-gradient(rgba(100, 0, 150, .3), rgba(#9999FF, .3)),
  image-url('top/chang-duong-Sj0iMtq_Z4w-unsplasha.jpg');
  width: 100%;
  height: 105vh;
  object-fit: none;
}

.p-top {
  color: #FFFFCC;
  font-size: 35px;
  padding: 50px;
  font-family: "Hannari";
  display: inline-block;
}

.p-bottom {
  color: #FFFFCC;
  font-size: 35px;
  font-family: "Hannari";
  display: inline-block;
  padding-left: 20px;
}

.slid-font {
  text-shadow: 6px 6px 6px #808080;
}

.top-text {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.top-bottom {
  width: 100%;
}

.rank-box {
  width: 33%;
  text-align: center;
}

.sign_modal_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .7;
  display: none;
}

.sign_modal {
  position: absolute;
  background-color: #fff;
  width: 450px;
  height: 350px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 30px auto 0;
  border: 1px solid #eee;
  display: none;
  text-align: right;
}

.sign_modal_content {
  display: none;
  text-align: center;
}

.fa_wrapper {
  cursor: pointer;
  margin: 3px 3px 0 0;
}

.guest {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.guest:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}


.button-area {
  text-align: center;
  background: linear-gradient(-135deg, #9999FF, #6633CC);
  height: 23%;
  width: 50%;
  margin: 1% auto 0 auto;
  border-radius: 100px;
  opacity: 0.9;
}

.sign_button {
  display: inline-block;
  width: 24%;
  font-size: 13px;
  margin-top: 4%;
}

.sign-in-font {
  color: white;
  padding-top: 17px;
}

// ボタン
.button {

  --offset: 10px;
  --border-size: 2px;

  display: block;
  position: relative;
  padding: 1.5em 3em;
  appearance: none;
  border: 0;
  background: transparent;
  color: #FFFF00;
  text-transform: uppercase;
  letter-spacing: .25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background .8s ease;

  &:hover {
    background: rgba(100, 0, 0, .03);
  }

  &__horizontal,
  &__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform .8s ease;
    will-change: transform;

    &::before {
      content: '';
      position: absolute;
      border: inherit;
    }
  }

  &__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;

    &::before {
      top: calc(var(--vertical-offset) - var(--border-size));
      bottom: calc(var(--vertical-offset) - var(--border-size));
      left: calc(var(--vertical-offset) * -1);
      right: calc(var(--vertical-offset) * -1);
    }
  }

  &:hover &__horizontal {
    transform: scaleX(0);
  }

  &__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;

    &::before {
      top: calc(var(--horizontal-offset) * -1);
      bottom: calc(var(--horizontal-offset) * -1);
      left: calc(var(--horizontal-offset) - var(--border-size));
      right: calc(var(--horizontal-offset) - var(--border-size));
    }
  }

  &:hover &__vertical {
    transform: scaleY(0);
  }

}