// Place all the styles related to the users/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-sample {
  color: #AAAAAA;
}

.title {
  padding-left: 2%;
}

.form-page {
  text-align: left;
  display: none;
}

.tag-lists {
  display: none;
}

.form-left {
  width: 100px;
}

.post-head {
  width: 100%;
}

.post-top-list {
  width: 12%;
  display: inline-block;
}

.post-top-content {
  width: 15%;
  display: inline-block;
}

.post-bottom-content {
  width: 15%;
  display: inline-block;
}

.post-body {
  width: 100%;
}

.post-bottom-list {
  width: 12%;
  display: inline-block;
}

.post-container {
  border: solid 1px;
}

.post-body > .row {
  border-bottom: solid 1px;
}