// Place all the styles related to the users/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-sample {
  color: #AAAAAA;
}

.title {
  padding-left: 2%;
}

.form-page {
  text-align: left;
  display: none;
}

.tag-lists {
  display: none;
}

.form-left {
  width: 100px;
}

.post-head {
  width: 100%;
}

.post-top-list {
  width: 12%;
  display: inline-block;
}

.post-top-content {
  width: 15%;
  display: inline-block;
}

.post-bottom-content {
  width: 15%;
  display: inline-block;
}

.post-body {
  width: 100%;
}

.post-container {
  border: solid 1px;
}

.post-body > .row {
  border-bottom: solid 1px;
}

.post-show-top {
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.post-show-content > strong {
  text-align: left;
  font-size: 28px;
}

.post-show-content > p {
  font-size: 20px;
}

.post-show-bottom {
  width: 100%;
  text-align: right;
}

.post-show-bottom > .post-show-list {
  display: inline-block;
  padding-left: 20px;
  font-size: 18px;
}

#comment_count {
  display: inline-block;
}

.post-show-box {
  border: solid 2px;
  padding: 10px;
  border-radius: 15px;
}

.random-post {
  display: inline-block;
  width: 19%;
  border-radius: 10px;
}

.random-post:hover {
  box-shadow: 15px 15px 15px rgba(0,0,0,0.5);
  transform: translateY(-5px);
  transition-duration: 0.4s;
}

.random-user-image {
  text-align: center;
  border-radius: 15px;
}

.random-user-image:hover {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  transform: translateY(-5px);
  transition-duration: 0.4s;
}

.user-box {
  height: 70px;
  width: 70px;
  border-radius: 5px;
}

.user-box:hover {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  transform: translateY(-5px);
  transition-duration: 0.4s;
}

.user-image {
  border-radius : 10px;          /* 角丸       */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 9px;   /* 余白       */
  background    : #FFDAB9;     /* 背景色     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 3px 3px 3px #666666;  /* 影の設定 */
  border        : 2px solid #FFDAB9;    /* 枠の指定 */
}

.user-image:hover{
  box-shadow    : none;
  background    : #ffffff;
}

.rank-text {
  padding: 25px 0 0 40px;
  font-size: 30px;
}

.random-icon > p {
  display: inline-block;
}

.type-title {
  width: 87%;
  text-align: left;
  padding: 0 150px 0 70px;
}

.index-icon-all {
  margin: 0 0 0 auto;
}

.index-icon {
 padding: 0 15px 0 0;
 display: inline-block;
}

.rank-list {
  border-radius : 10px;          /* 角丸       */
  font-size     : 20px;        /* 文字サイズ */
  text-align    : left;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px;   /* 余白       */
  background    : radial-gradient(#FFC7AF, #FF5F17);     /* 背景色     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 6px #666666;  /* 影の設定 */
  border        : 1px solid #FFC7AF;    /* 枠の指定 */
  height: 40px;
  width: 43%;
}

.rank-list:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  background    : #ffffff;     /* 文字色     */
}

.next-font {
  width: 18%;
  font-size: 19px;
  margin: 10px 0 0 0 ;
}

.previews {
  color: #555555;
}

.show-tag {
  padding-left: 40px;
}

.rank-preview-font {
  color: yellow;
}

.repost-ok {
  color: green;
}

.ranking {
  width: 100%;
  font-size: 30px;
}

.preview-box {
  width: 100%;
}

.fa-crown {
  color: #FFD700;
}

.random-title {
font-size: 20px;
}

.random-type {
  font-size: 14px;
}

.rank-tag {
  font-size: 25px;
  margin-right: 7%;
}

.title-font {
  font-size: 19px;
  text-shadow: 1px 1px 1px #808080;
}