// Place all the styles related to the users/timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timeline-border {
  border-bottom: solid 1px;
  border-radius: 10px;
}

.retweet-user-name {
  width: 100%;
  font-size: 20px;
  text-shadow: 1px 1px 1px #808080;
  color: #00BB00;
}

.retweet-user-name > p {
  display: inline-block;
}
